

html{
  scroll-behavior: smooth;
}

body{
  background-color: grey;
  margin:0;
}

.navbar{                                    
  background-color: orange;               

.navbar{
  background-color: orange;

  width: 100%;
    display: inline-block;
    height: 48px;
}
.navbar img{
  float: left;
  padding-left: 1em;
  height: 50px;;
  width: 50px;
}
.navbar a{
  padding: 14px 16px;
  display: inline-block;
  position: relative;
  left: 400px;
  text-decoration: none;
  color: white;
}
.navbar a:hover {
  background-color: black;
}
.comp-name{

  font-size: 22px;
  font-weight: bold;
}

  padding-left: 10px;
  padding-top: 20px;
  font-size: 25px;
  font-weight: bold;
}
.web-descrip{
  font-style: italic;
  font-family: 'Source Code Pro', monospace;
}
.div2{                               /**partition 2**/
  display: inline-block;
  background: url("img2.jpg");
  color: white;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  height: 750px;;

  height: 750px;

  width: 100%;
}

.div3 {                              /** partition 3**/
  width: 100%;
  height: 500px;
}



.div3 p,.div4 p,.div5 p{
  font-family: 'Fresca', sans-serif;
  font-size: 20px;
  padding-left: 20px;
}
.div3 a,.div4 a,.div5 a{
  text-decoration: none;
  color: black;
}

.div3-1 {
  width: 50%;
  float: left;
  height: 500px;
  background: url("op7tpro.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}

.div3-2 {
  width: 50%;
  height: 500px;
  background: url("op7t.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}
.div4 {                             /**partition 4**/
  width: 100%;
  height: 500px;
}

.div4-1 {
  width: 50%;
  float: left;
  height: 500px;
  background: url("op7pro.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}

.div4-2 {
  width: 50%;
  height: 500px;
  background: url("op7.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}
.div5 {                             /**partition 5**/
  width: 100%;
  height: 500px;


  margin-bottom: 0px;

}

.div5-1 {
  width: 50%;
  float: left;
  height: 500px;
  background: url("op6t.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}

.div5-2 {
  width: 50%;
  height: 500px;
  background: url("op6.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}

.foot-main{
  display: inline-flex;
  position: absolute;
  left: 325px;

}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  background-color: #c3c3c3;
  padding: 2px;
}
dt{
  padding-left: 50px;
  margin:0;
  display: inline;
}
dl{
  padding-right:50px;


footer{
  padding-top: 0;
  margin-top: 0;
  width: 100%;
  background-color: #003704;
  height: 100px;
}
.footer-icons{
  padding-right: 20px;
  height: 25px;
  width: 25px;
  float: right;
  border-radius: 50%;
}
.footer-icons:hover{
  background-color: (0,0,0,0.5);

}
